.footer-container {
  padding: 40px 20px 20px;
  text-align: center;
  position: relative;
}

.footer-scroll-top {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}



.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-name {
  color: #291baf;
  font-weight: bold;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  flex-wrap: wrap;
}

.footer-nav li a {
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-nav li a:hover {
  color: #291baf;
}
