@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.nav{
    height: 80px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Pacifico", cursive;
    font-size: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    background: none;
}
.nav div{
    background: none;
}
span{
    background: none;
}

.navRoute{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.navBtn{
    font-size: 25px;
    padding: 15px;
    border: none;
    text-decoration: none;
    background: none;
}

.navBtn:hover{
    color: #291baf;
    cursor: pointer;
}
