.navBar{
  height: 80px;
  margin: 10px;
}

.homeSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeConText{
  height: 500px;
  width: 1000px;
  margin: 10px 90px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.homeConImg{
  height: 400px;
  width: 400px;
  margin: 10px 94px;
  background-color: #bab6b6f1;
  border-radius: 220px;
}
.homeConImg img{
  height: 400px;
  width: 400px;
  background-color: #bab6b6f1;
  border-radius: 220px;
  object-fit: cover;
}

.aboutSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutConImg{
  max-height: 500px;
  width: 500px;
  margin: 10px 30px;
  border-radius: 250px;
}
.aboutConImg img{
  max-height: 500px;
  width: 500px;
  border-radius: 250px;
  object-fit: cover;
}
.aboutConText{
  min-height: 500px;
  width: 800px;
  margin: 10px 30px;
  border-radius: 50px;
}

.skillSection{
  min-height: 500px;
  margin: 10px;
  border-radius: 50px;
}

.projectSection{
  min-height: 500px;
  margin: 10px;
  border-radius: 50px;
}

.contactSection{
  min-height: 500px;
  margin: 10px;
  border-radius: 50px;
}